body {
  background-color: #1d1e2c;
  font-family: Cambria;
  color: #c2d3cd;
  margin: 0px auto;
}

div {
  display: block;
}

.container1 {
  width: 400px;
  margin: 0 auto;
  transform: translateX(-250px);
}

.who {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0px;
}

#journey {
  margin: 0px;
  color: #847e89;
}

.containter2 {
  width: 550px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

#introP1,
#introP2,
#introP3 {
  margin: 0px;
}

#code {
  font-size: 120%;
  font-style: italic;
  transition: 0.5s;
}

#code:hover {
  font-style: italic;
  color: hsl(298, 100%, 50%);
}

.container3 {
  padding-bottom: 100px;
  padding-top: 100px;
  width: 500px;
  margin: 0 auto;
}

.intro,
.objectives,
.projects,
.languages,
.about {
  padding: 20px;
}

#obh2,
#proh2,
#lanh2,
#abh2 {
  margin: 0px;
  padding-top: 10px;
}

.container4 {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

#prolist1 {
  font-weight: bolder;
}

.container5 {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container6 {
  padding-top: 20px;
  padding-bottom: 100px;
  width: 640px;
  margin: 0 auto;
}

#aboutparagraph {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}
