body {
  background-image: url(https://wallpaperaccess.com/full/203518.jpg);
  background-size: cover;
  background-position: top;
  font-family: Cambria;
  color: #ffffff;
}

div {
  display: block;
}

.container1 {
  width: 400px;
  margin-top: 20px;
  margin-left: 500px;
}

.who {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0px;
}

#journey {
  margin: 0px;
  color: #000000;
}

.containter2 {
  width: 600px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.intro {
  width: 570px;
}

#introP1,
#introP2,
#introP3 {
  margin: 0px;
  padding: 2px;
}

#code {
  font-size: 120%;
  font-style: italic;
  transition: 0.5s;
}

#code:hover {
  font-style: italic;
  color: hsl(298, 100%, 50%);
}

.container3 {
  padding-bottom: 100px;
  padding-top: 100px;
  width: 500px;
  margin: 0 auto;
}

#oblist1,
#oblist2,
#oblist3 {
  padding: 2px;
}

.intro,
.objectives,
.projects,
.languages,
.about {
  padding: 20px;
}

.container4 {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

#prolist1 {
  font-weight: bolder;
}

.container5 {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

#lan1,
#lan2 {
  padding: 2px;
}

.container6 {
  padding-top: 20px;
  padding-bottom: 100px;
  width: 640px;
  margin: 0 auto;
}

#aboutparagraph {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}
