body {
  background-color: #1d1e2c;
  font-family: Cambria;
  color: #c2d3cd;
  margin: 0px;
}

div {
  display: block;
}

.container1 {
  width: 850px;
  margin: 0 auto;
}

.who {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  font-size: 100px;
  text-transform: uppercase;
  margin: 0px;
}

#journey {
  margin: 0px;
  color: #847e89;
}

.containter2 {
  width: 550px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#introP1,
#introP2,
#introP3 {
  margin: 0px;
}

#code {
  font-style: italic;
}

#code:hover {
  font-style: italic;
  font-weight: bolder;
  color: #531cb3;
}

.container3 {
  padding-top: 100px;
  width: 500px;
  margin: 0 auto;
}

.intro,
.objectives,
.projects,
.languages,
.about {
  padding: 20px;
}

#obh2,
#proh2,
#lanh2,
#abh2 {
  margin: 0px;
  padding-top: 10px;
}

.container4 {
  width: 500px;
  margin: 0 auto;
}

.container5 {
  width: 500px;
  margin: 0 auto;
}

.container6 {
  padding-top: 100px;
  padding-bottom: 20px;
  width: 640px;
  margin: 0 auto;
}

#aboutparagraph {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}
